const config = {
  secret: 'MySecretForJWTTokenINeedChange',
  mongodb: {
    path: 'mongodb://127.0.0.1:27017/',
    db: "db_name"
  },
  server: {
    port: 3000,
    sessions: {
      secretKey: 'some-secret-password-at-least-32-characters-long',
      sessionMaxAge: 900000, // 15 minutes in milliseconds
      cookie: {
        domain: 'localhost', // domain configuration
        path: '/'
      }
    }
  }
};

module.exports = config;
